<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Search NFT</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style3.css') }}">
  <!-- {% extends "bootstrap/base.html" %} -->
  {% import "bootstrap/wtf.html" as wtf %}
</head>
<body>
	{% block content %}
	<form method="POST">
			<div class="wrap">
			{{ form.hidden_tag() }}
			{{ wtf.form_field(form.username) }}
			{{ wtf.form_field(form.password) }}
			{{ wtf.form_field(form.remember) }}
			<button type="submit" class="searchButton">Login</button>
			</div>
	</form>
	{% endblock %}
</body>
</html>
