<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Search NFT</title>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style3.css') }}">
  {% import "bootstrap/wtf.html" as wtf %}
</head>
<body>
	{% block content %}
	<form method="POST">
			<div class="wrap">
			{{ form.hidden_tag() }}
			{{ wtf.form_field(form.username) }}
			{{ wtf.form_field(form.email) }}
			{{ wtf.form_field(form.password) }}
				<div style="text-align:center;"><button type="submit" class="signupButton">Register</button></div>
			</div>
	</form>
	{% endblock %}
</body>
</html>
